@charset "utf-8";

/* Style Reset */
* {
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(circle at 50% 30%, #D8F1BD, #010C45 80%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-self: center;
    max-width: 1000px;
    height: 100vh;
}

header {
    padding: 16px;
    text-align: center;
    width: 100%;
}

header h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 8px;
}

header p {
    color: #060270;
    font-size: 1.5em;
}

#left {
    flex: 1 2 0px;
    box-sizing: border-box;
}

#right {
    flex: 2 1 0px;
    box-sizing: border-box;
}

.container {
    background-color: #02011E;
    border-radius: 25px;
    margin: 30px 0;
}

.container img {
    width: 24px;
}

.container h1 {
    font-size: 2em;
    font-weight: bold;
}
#code {
    color: #3E7BFF;
    text-align: center;
    font-weight: bold;
    padding: 70px 50px;
}

#date {
    padding: 35px;
    color: white;
}

#animate {
    color: #63396E;
    text-align: center;
    font-weight: bold;
    padding: 70px 50px;
}

#links {
    color: white;
    padding: 50px;
}

#canvas {
    color: white;
    padding: 50px;
}

nav ul {
    list-style: none;
}

nav li {
    padding: 8px;
}

canvas {
    width: 100%;
}
