@charset "utf-8";

body, header, div, p {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(165deg, #340143 5%, black 45%, #113C00 100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

header {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    color: white;
    flex: 1 1 0px;
}

#container {
    display: flex;
    justify-content: center;
}

div#container canvas {
    width: 35%;
}

p {
    text-align: center;
    margin-top: 20px;
    color: white;
    flex: 1 1 0px;
}
