@charset "utf-8";

/* Style Reset */
html, body, canvas {
    padding: 0;
    margin: 0;
}

/* Set canvas to fit page */
html, body, canvas {
    width: 100%;
    height: 100%
}

body {
    background-color: black;
    overflow: hidden;
}